@media (max-width: 1440px){
	 .header-bar__logo img{
		width: 100px;
	 }
	 .menu{
		margin-top: 25px;
	 }
	 .menu__list li{
		margin-bottom:25px;
	 }
	 .header__date{
		font-size: 48px;
		line-height: 1;
		margin-bottom: 3px;
	 }
	 
	 .header__title{
		font-size: 160px;
    	line-height: 136px;
	 }
	.header__search {
		margin-bottom: 6px;
	}
	 .header__date span {
		margin-top: 0px;
		display: block;
		font-size: 14px;
	 }
	 .slider__item-title{
		margin-bottom: 48px;
		font-size: 72px;
		line-height: 80px;
	}
	.header__arrow-down {
		left: 125px;
  }
  .location-box__inner {
	min-height: 650px;
  }
}








@media (max-width: 1366px){
	.header-bar{
		display: flex;
		border-right: none;
		height: 114px;
		padding-right: 25px;
		background-color: rgba(255, 255, 255,0.09);
	}
	.menu{
		margin-top: 0;
		align-self: flex-start;

	}
	.menu__list{
		display: flex;
		column-gap: 30px;
		text-align: center;
	}
	
	.menu__list li a {
		display: inline-block;
		padding: 15px;
	}
	.menu__list li a img{
		max-height: 48px;
	}
	.header__search {
		align-self: flex-start;
		padding: 30px 15px;
		margin-bottom: 0;
  }
  .header__date{
		align-self: flex-start;
		margin-bottom: 0;
		padding-top: 15px;
  }
  .header__search{
	align-self: flex-start;
  }
  .header__location{
	align-self: flex-start;
	margin-left: 10px;
	margin-top: 25px;
  }
  .header__map svg{
	width: 500px;
	height: 650px;
	}
	.slider-arrows{
		top: 65px;
		right: 25px;
	}
	.slider-arrows__left{
		right: 75px;
	}
	.header__arrow-down{
		left: 25px;
	}
	.slider-dots .slick-track{
		width: 100%;
		margin: 0 auto;
	}
	.dots-box{
		margin: 0 auto;
	}
	.location{
		background-size: 80px;
	}
	.slider-map .slider-geo__content{
		padding: 10px;
		width: 200px;
		
	}
	.slider-geo__content{
		right: 19%;
	}

	  .slider-map .slick-current .slider-geo__content{
		row-gap: 0px;
	  } 
	  .slider-geo__content .slider-geo__row:first-child{
		margin-bottom: 5px;
	  }
	  .travel__plane img{
		width: 400px;
	}
	.travel__info{
		flex-wrap: nowrap;
	}
	.info-travel__title{
		font-size: 12px;
	}
	.info-sleep__title{
		font-size: 12px;
	}

	.info-travel__text{
		font-size: 27px;
	}
	.info-sleep__text{
		font-size: 27px;
	}
	.info-travel__text p{
		margin-left: 40px;
		font-size: 11px;
		letter-spacing: 3.25px;
	}
	.info-sleep__text p{
		margin-left: 40px;
		font-size: 11px;
		letter-spacing: 3.25px;
	}
	.travel__dest{
		margin-bottom: 0;
		position: relative;
		top: -103px;
	}
	.sleep__dest{
		margin-bottom: 0;
		position: relative;
		top: -103px;
	}
	.travel__airline {
		top: 0px;
  }
  .sleep__airline {
	top: 0px;
}
  .travel__plane {
	margin-top:	 -200px;
	}
	.sleep__plane {
		margin-top:	 -200px;
	}
	.location{
		margin-bottom: 130px;
	}
	.sleep{
		margin-bottom: 130px;
	}
	
}








@media (max-width: 1270px){
	.slider-map{
		max-width: 940px;
    	height: 600px;
	}
	.title-section h3 {
		font-size: 160px;
	}
	.location{
		padding-top: 100px;
	}
	
	.location__current {
		position: absolute;
		top: 240px;
	}
	.slider-geo-circle {
		width: 17px;
		height: 17px;
	}
	.slick-current .slider-geo-circle {
		background-size: 17px;
		background-repeat: no-repeat;
	}
	

	.title-section h3 span {
		font-size: 60px;
	}

	.slider-geo--one {
		top: 308px;
		left: -4px;
  }
  .slider-geo--two {
	top: 269px;
	left: -9px;
	}
	.slider-geo--three {
		top: 310px;
		left: 29px;
  }
  .slider-geo--four {
	top: 450px;
	left: -34px;
	}
	.slider-geo--five {
		top: 224px;
		left: -53px;
  }
  .slider-geo--six {
	top: 480px;
	left: -86px;
	}
	.slider-geo--seven {
		top: 356px;
		left: -79px;
  }
  .slider-geo--eight {
	top: 436px;
	left: 28px;
	}	
	.location-box__inner {
		min-height: 550px;
	  }

	.location-box__inner-title {
		padding: 46px 0 0 40px;
		max-width: 228px;

		font-size: 33px;
	}
	.location-slider .btn {

		font-size: 26px;
	}
	.location-box.slick-current{
		transform: translateX(25px);
	}
	.location-box:nth-child(4n+1){
		margin-top: 25px;
		
	}
	.location-box:nth-child(4n+3){
		margin-top: 58px;
		
	}

	.location-box__inner-location {
		font-weight: 400;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: 7px;
		bottom: 110px;
		left: 40px;
  }
  .slider-geo__content{
	right: 0%;
	}
	.travel__content-block {
		margin-right: 40px;
  }
  .sleep__content-block {
	margin-right: 40px;
	}
	.sleep__plane img {
		width: 300px;
	}
	.shop{
		margin-bottom: 150px;
	}
  
  
}










@media(max-width: 1100px){
	.info-travel__item{
		height: 100%;
	}
	.info-sleep__item{
		height: 100%;
	}
	.travel__info {
		flex-wrap: wrap;
		margin-top: -80px;
  }
  .sleep__info {
	flex-wrap: wrap;
	margin-top: -80px;
	}
  .info-travel{
	padding: 50px 50px;
	}
  .info-sleep{
	padding: 50px 50px;
	}
	.info-travel__item {
	flex: 1 1 auto;
	
	}
	.info-sleep__item {
		flex: 1 1 200px;
		
	}
	.travel__cocktail{
		top: -270px;
	}
	.sleep__flower{
		top: -270px;
	}
	.travel__cocktail img{
		width: 200px;
	}
	.sleep__flower img{
		width: 111px;
	}
	.travel__airline {
	margin-left: 50px;
	}	
	.sleep__airline {
		margin-left: 50px;
	}	
	.placetitle {
		font-size: 30px;
	}
	.placetitle p {
		font-size: 30px;
	}
	.lineTitle-left {
	font-size: 17px;
	line-height: 17px;
	letter-spacing: 5.33333px;

	}
	.lineTitle-right {
		font-size: 17px;
		line-height: 17px;
		letter-spacing: 5.33333px;
		text-transform: uppercase;
  }
  .travel__airline-suptitle::after {
	content: "";
	width: 52px;
	height: 35px;
	margin-left: 20px;
	background-size: 40px;
	background-repeat: no-repeat;
	}
	.sleep__airline-suptitle::after {
		content: "";
		width: 52px;
		height: 35px;
		margin-left: 20px;
		background-size: 40px;
		background-repeat: no-repeat;
	}
	.shop__slider {
		padding-left: 0px;
	}
	.shop__slider-info{
		padding-left: 10px;
	}
	.shop{
		margin-bottom: 100px;
	}
	.shop-btn,
	.shop__descr-suptitle,
	.shop__slider-price,
	.shop__descr-suptitle,
	.shop__descr-title{
		margin-left: 0;
	}
}








@media (max-width: 1040px){
	.header__arrow-down{
		display: none;
	}
	.menu{
		visibility: hidden;
		opacity:0;
		position:absolute;
		top: 0;
		left: 0;
		transition: all 0.7s linear;
		
	}
	.menu.active{
		visibility: visible;
		opacity:1;
		
	}
	.menu.active .menu__list{
		
		flex-direction: column;
		align-items: center;
		position: absolute;
		transition: all 0.7s linear;
		
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		transform: translateY(50%);
	}
	.menu .menu__list{
		flex-direction: column;
		align-items: center;
		position: absolute;
		transition: all 0.6s linear;
		background-color: rgba(0, 0, 0,0.25);
		box-shadow: 0px 0px 36px #4AF6CD;
		transform: translate3d(-100%,50%,0)
	}
	.slider-geo__content{
		right: -9%;
	}

	.slider__item-info {
		right: 30px;
		bottom: 60px;
	}

	.slider__item-text {
		margin-bottom: 15px;
		font-size: 30px;
	}

	.lineTitle-right {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 5.33333px;
	}
	.slider__item-title {
		margin-bottom: 16px;
		font-size: 52px;
		line-height: 62px;
  }
  .slider-dots {
		right: 0px;
		left: 0;
		bottom: 5px;
		margin: 0 auto;
	}
	.dots-box{
		width: 125px; 
	}
	.dots-box__number{
		font-size: 18px;
	}
	.dots-box__shore{
		line-height: 18px;
	}
	.header__burger{
		display: block;
	}
	.sleep__plane img {
		width: 250px;
	}
	.quantity-button.quantity-up {

		margin-left: 0;
	}
  .quantity-button.quantity-down {

		margin-left: 100%;
	}
	.travel{
		margin-bottom: 80px;
	}
}








@media (max-width: 1024px){
	.menu__list li{
		margin-bottom: 0px;
	}
	.menu__list li a{
		padding: 0 5px 20px 5px;
		
	}
	.menu__list li:first-child a{
		padding-top: 5px;
		
	}
	.menu__list li:last-child a{
		padding: 0 5px 5px 5px;
		
	}
	.header-bar__logo img {
		width: 70px;
  }
  .header__title{
		font-size: 105px;
		max-width: 225px;
		line-height: 110px;
  }
  .menu.active .menu__list{
	transform: translateY(40%);
  }
  .header-bar{
	background-color: transparent;
  }
  .slider-map{
	background-image: none;
  }
  .slider-geo-circle{
	display: none;
  }
  
  .slider-map{
	display: flex;
	top: 100px;
	height: 246px;
  }
  .slider-geo{
	position: static;
	}
	.slider-geo__content{
		position: static;
		opacity: 1;
		visibility:visible;
	}
	
	.slider-map .slick-list{
		overflow: hidden;
		text-align: -webkit-center;
	}
	
	.slider-map .slick-current .slider-geo__content {
		background-color: rgb(66 82 82 / 40%);
		box-shadow: 0px 0px 15px #4AF6CD;
		transform: translateY(20px);
		transition: transform 0.4s linear;
  }
	.location-box__inner {
		min-height: 450px;
	}
	.location-box__inner-title {
		padding: 15px 10px 0px;
		font-size: 29px;
		margin: 0 auto;
		text-align: center;
  }
  .location-box__inner-location {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 5px;
	bottom: 14%;
	left: 33px;
	}
	.travel .slider-arrows {
		top: 170px;
	}
	.sleep .slider-arrows {
		top: 170px;
	}
	.info-sleep {
		padding: 0px 50px;
  }
  .info-sleep__text p {
	font-size: 9px;

	}
}








@media (max-width: 998px){
	.travel__place {
		min-height: 600px;
	}
	.sleep__place {
		min-height: 600px;
	}

	.travel__plane img {
		width: 250px;
	}
	
	.info-travel__text{
	font-size: 24px;
	}
	.info-sleep__text{
		font-size: 24px;
	}
	
	.info-travel__text p{
	margin-left: 17px;
	}
	.info-sleep__text p{
		margin-left: 17px;
	}
	.info-travel__title{
	font-size: 10px;
	letter-spacing: 6.2px;
	}
	.info-sleep__title{
		font-size: 10px;
		letter-spacing: 6.2px;
	}
	.star-box{
		display: block;
	}
	.sleep__airline-suptitle.placetitle p{
		line-height: 55px;
	}
	.sleep__airline .star-box {
		margin-left: -15px;
		margin-top: -15px;
	}
	.quantity input {
		height: 27px
	}
	.shop__slider-wrapper{
		display: block;
	}
	.shop__slider-price {
		margin-bottom: 30px;
 	 }
	 .shop__slider-info{
		margin-right: 0;
	 }
	 .surfboard {
		margin-left: 15px;
	}
	.shop__slider-content{
		margin-top: 60px;
	}
	.plus.plus--three {
		right: 0;
		left: 37px;
  }
	.add--left{
		order: 1;
	}
	.plus__text.plus__text--right::after {
		top: 50%;
		left: 10px;
		width: 40px;

	}
	.plus__text.plus__text--right {
		padding-left: 58px;
  }
  .shop__slider-content {
	justify-content: space-between;
	}
}









@media (max-width: 768px){
	.header{
		height: 700px;
	}
	.header__slider-item{
		height: 700px;
	}
	.dots-box__number{
		font-size: 16px;
	}
	.dots-box__shore{
		font-size: 14px;
	}
	.header__title{
		font-size: 80px;
		max-width: 200px;
		line-height: 90px;
	}
	.title-section {
		left: -22px;
  }
	.title-section h3 {
		font-size: 100px;
  }
  .title-section h3 span {
	font-size: 30px;
	}
	.location__current {
    position: absolute;
    top: 146px;
    right: 10px;
	}
	.slider-map {
		top: 88px;
	}
	.location {
		padding-top: 50px;
		background-size: 50px;
		background-position: right 130px;
  }
  .location__current-title{
	font-size: 11px;
  }
  .location__current-place{
	font-size: 26px;
  }
  .lineTitle-right {
	padding-left: 60px;

	}
  .lineTitle-right::before {

	width: 40px;
	}
	.location-slider .btn {
		font-size: 16px;
  }
  .travel__plane {
	margin-top: -100px;
	}
	.sleep__plane {
		margin-top: -100px;
	}
	.travel__airline {
		margin-left: 20px;
		top: 0px;
	}
	.sleep__airline {
		margin-left: 20px;
		top: 0px;
	}
	.travel__content-block {
		margin-top: 44px;
		margin-right: 20px;
	}
	.sleep__content-block {
	margin-top: 44px;
	margin-right: 20px;
	}
 	.info-travel {
		padding: 0px 50px;
  }
  .info-sleep{
	padding: 0px 50px;
	}
	.travel__info {
		margin-top: 0px;
	}
	.sleep__info {
		margin-top: 0px;
	}
	.info-travel__title {
		font-size: 10px;
		letter-spacing: 1px;
	}
	.info-sleep__title {
		font-size: 10px;
		letter-spacing: 1px;
	}
	.info-travel__item {
		height: 106px;
  }
  .info-sleep__item {
	height: 106px;
	}
  .travel__place {
	min-height: 412px;
	}
	.sleep__place {
		min-height: 412px;
	}
	.travel-btn .btn{
		font-size: 30px;
	}
	.sleep-btn .btn{
		font-size: 30px;
	}
	.travel .slider-arrows {
		top: 120px;
	}
	.sleep .slider-arrows {
		top: 120px;
	}
	.travel{
		margin-bottom: 30px;
	}
	.plus__text::before{
		display: none;
	}
	.plus__text.plus__text--left{
		padding-left: 10px;
	}
	.plus__text.plus__text--right{
		padding: 0 0 0 10px	;
	}
	.plus__text.plus__text--right::after{
		display: none;
	}
	.plus__text {
		flex: 0 0 175px;
		font-size: 15px;
		line-height: 24px;
	}
	.shop__extras-inner {
		 margin-left: 0; 
  }
  .shop__extras-title{
	text-align: center;
  }
  .shop__extras-name {

	margin-bottom: 8px;
	font-size: 12px;
	letter-spacing: 3px;
	}
}





@media (max-width: 670px){
	.info-travel__item {
		height: auto;
		display: block;
  }
  .info-sleep__item {
	height: auto;
	display: block;
}
  .info-travel{
	display:block
  }
  .info-sleep{
	display:block
  }
  .info-travel__title {
	font-size: 11px;
	line-height: 22px;
	letter-spacing: 5px;
	 writing-mode: initial; 
	 transform: rotate(0deg); 
	position: static; 
	padding-bottom: 3px;
	}
	.info-sleep__title {
		font-size: 11px;
		line-height: 22px;
		letter-spacing: 5px;
		 writing-mode: initial; 
		 transform: rotate(0deg); 
		position: static; 
		padding-bottom: 3px;
		}
	.info-travel__text{
		
		padding-left: 0;
		padding-bottom: 5px;
	}
	.info-sleep__text{
		
		padding-left: 0;
		padding-bottom: 5px;
	}
	.info-travel{
		padding: 0 10px;
	}
	.info-sleep{
		padding: 0 10px;
	}
	.travel .slider-arrows {
		top: 0px;
	}
	.sleep .slider-arrows {
		top: 0px;
	}
	.info-sleep {
		margin-top: -70px;
		height: auto;
	}
}







@media (max-width: 640px){
	.slider-dots{
		display: none;
	}
	.slider__item-info {
		
		bottom: 5px;
  }
  .travel__plane img {
	width: 190px;
	}
	.sleep__plane img {
		width: 190px;
	}
	
	.travel__dest {
		top: -50px;
	}
	.sleep__dest {
		top: -50px;
	}

}







@media (max-width: 590px){
	.travel__plane img {
		width: 120px;
	}
	.sleep__plane img {
		width: 120px;
	}
	.travel__cocktail{
		display: none;
	}
	.sleep__flower{
		display: none;
	}
	.info-travel {
		padding: 0 10px;
  }
  .travel{
	margin-bottom: 120px;
	}
	.shop__slider-content {
		display: block;
	}
	.shop__extras-wrapper {

		max-width: 300px;
		margin: 0 auto;
	}
	.surfboard{
		max-width: 260px;
		margin: 0 auto;
	}
	.plus__text.plus__text--left {
		padding-left: 10px;
		position: absolute;
		top: 25px;
		left: -11px;
		width: 110px;
  }
  .shop__extras-inner {
	margin-top: 30px;
	}
	.shop{
		margin-bottom: 80px;
	}
}






@media (max-width: 550px){
	.travel__place {
		min-height: 400px;
	}
	.sleep__place {
		min-height: 400px;
	}
	.travel__airline {
		margin-left: 10px;
		top: 0px;
	}
	.sleep__airline {
		margin-left: 10px;
		top: 0px;
	}
	.travel__info{
		height: auto;
		margin-bottom: 20px;
	}
	.sleep__info{
		height: auto;
		margin-bottom: 20px;
	}
	
}






@media (max-width: 540px){
	.slider__item-title{
		margin-bottom: 10px;
		font-size: 42px;
		line-height: 52px;
  }
  .slider__item-text {
	margin-bottom: 8px;
	font-size: 24px;
	}
	.header__date {
		padding-top: 2px;
		font-size: 35px;
	}
  .header__location {
	font-size: 10px;
	margin-left: 4px;
	margin-top: 2px;
	}
	.header__search {
		padding: 15px 15px;
	}
	.location-box.slick-current {
		transform: translateX(0px);
	}
  .location-box__inner-location {
	font-size: 11px;
	bottom: 18%;
	left: 8px;
	}
	.location-box:nth-child(4n+1){
		margin-top: 0px;
		
	}
	.location-box:nth-child(4n+3){
		margin-top: 0px;
		
	}
	.travel__plane{
		display: none;
	}
	.sleep__plane{
		display: none;
	}
	.placetitle {
    font-size: 20px;
	}
	.placetitle p {
		font-size: 20px;
	}
	.travel__place {
		min-height: 350px;
	}
	.sleep__place {
		min-height: 350px;
	}
	.lineTitle-left {
		font-size: 12px;
		line-height: 12px;
	}
	.lineTitle-left::after {
		width: 40px;
		margin-left: 10px;
  }
  .lineTitle-right {
	font-size: 12px;
		line-height: 12px;
	}
	.travel__airline-suptitle::after {
		height: 23px;
		margin-left: 10px;
		background-size: 25px;
	}
	.sleep__airline-suptitle::after {
		height: 23px;
		margin-left: 10px;
		background-size: 25px;
	}
	.travel-btn .btn{
		font-size: 24px;
	}
	.travel__place{
		background-size: cover;
	}
	.sleep__place{
		background-size: cover;
	}
	.sleep-btn .btn{
		font-size: 24px;
	}
	.travel-btn span{
		padding: 7px 44px 6px 14px;
	}
	.sleep-btn span{
		padding: 7px 44px 6px 14px;
	}
	.shop-btn .btn{
		font-size: 24px;
	}
	.shop-btn span{
		padding: 7px 44px 6px 14px;
	}

}






@media (max-width: 440px){
	.slider__item-title{
		font-size: 32px;
	}
	.slider__item-suptitle{
		padding-left: 80px;
	}
	.slider__item-suptext{
		padding-left: 80px;
	}
	.menu__list li a {
		padding: 0 5px 8px 5px;
  }
   .menu__list li a img {
	max-height: 40px;
	}
	.menu.active .menu__list {
	transform: translateY(50%);
	}
	.menu__list li span {
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 3px;
		
	}
	.location-box__inner {
		min-height: 350px;
 	}
	.location-box__inner-title {
	font-size: 20px;
	}
	.placetitle{
	font-size: 16px;
	}
	.placetitle p {
		font-size: 16px;
	}
	.travel__place {
		min-height: 287px;
	}
	.sleep__place {
		min-height: 287px;
	}

}






@media (max-width: 380px){
	.header__date {
		font-size: 24px;
	}
	.header__date span{
		font-size: 8px;
	}
	.header__location {
		font-size: 8px;
		margin-left: 4px;
		margin-top: 5px;
	}
	.travel .title-section h3 {
		font-size: 70px;
	}
	.sleep .title-section h3 {
		font-size: 70px;
	}

}





@media (min-width: 1024px){
	.slider-map .slick-track{
	transform: none !important;
	}
}
@media (min-width: 1441px){
	
	.menu{
	  margin-top: 25px;
	}
	.menu__list li{
	  margin-bottom:25px;
	}
	.header__date{
	  font-size: 72px;
	  line-height: 1;
	  margin-bottom: 20px;
	}
	
	.header__title{
	  font-size: 160px;
		line-height: 136px;
	}
  .header__search {
	  margin-bottom: 6px;
  }
	.header__date span {
	  margin-top: 0px;
	  display: block;
	  font-size: 14px;
	}
	.slider__item-title{
	  margin-bottom: 48px;
	  font-size: 72px;
	  line-height: 80px;
  }
  .header__arrow-down {
	  left: 215px;
	}
	.location-box__inner {
	min-height: 650px;
	} 
	.shop__slider-wrapper{
		justify-content: space-between;
	}
}


